/* COMEÇO DO HOME */

#inicio {
    height: 291px;
    background-color: #7A247D;
    display: flex;
    flex-direction: column;
}

#tituloHome {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    text-align: center;
    color: #F5C661;
    text-shadow: 2px 4px 4px rgba(0, 0, 0, 0.25);
    margin-top: 69px;
    margin-bottom: 24px;
}

#textoHome {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 26px;
    line-height: 30px;
    text-align: center;
    color: #FAFAFA;
}
/* ITENS DO HOME */

#centerHome {
    text-align: center;
    margin-top: 62px;
    margin-bottom: 48px;
}
/*USAR PARA 'CONHEÇA NOSSOS PRATOS', 'SELECIONE UMA CATEGORA' e 'PRATOS'*/

.subtituloItens {
    font-family: 'Bellota Text', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    color: #333333;
}

.categorias {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: 12.25rem;
    margin-right: 12.25rem;
    margin-bottom: 2.313rem;
}

.categoriaComFoto {
    display: flex;
    flex-direction: column;
    margin-bottom: 2.5rem;
}

.categoriaComFoto:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.imagemDaCategoria {
    width: 15rem;
    height: 13.125rem;
}

.textoDaCategoria {
    margin-top: -2.875rem;
    padding-left: 0.5rem;
    height: 2.88rem;
    font-family: 'Bellota Text', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #E5E5E5;
    background: linear-gradient(92.1deg, #6A066D 0%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
    display: flex;
    align-items: center;
}

.textosIndicandoHome {
    font-family: 'Bellota Text', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    color: #000000;
    margin-left: 16.5rem;
    margin-bottom: 1rem;
}
/* PRATOS DO DIA */

.pratossDoDia {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-bottom: 2.313rem;
    margin-left: 12.25rem;
    margin-right: 12.25rem;
}


.pratoDoDiaFotoEPreco {
    display: flex;
    flex-direction: column;
    width: 15rem;
    height: 23.313rem;
    margin-bottom: 2.5rem;
}
.pratoDoDiaFotoEPreco:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}

.attachment-woocommerce_thumbnail {
    width: 15rem;
    height: 23.313rem;
}

#faixaPratoDoDia {
    background: linear-gradient(92.1deg, #6A066D 0%, rgba(126, 52, 129, 0.86279) 57.81%, rgba(142, 87, 143, 0.757243) 71.87%, rgba(119, 64, 121, 0.661458) 99.99%, rgba(196, 196, 196, 0) 100%);
    display: flex;
    flex-direction: column;
    height: 4.063rem;
    width: 14.5rem;
    justify-content: space-between;
    margin-top: -65px;
    padding-left: 0.5rem;
}

#nomePratoDoDia {
    font-family: 'Bellota Text', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: #FAFAFA;
}

#precoDoDiaECarrinho {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Comic Neue', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 55px;
    color: #FAFAFA;
}

#botaoAddCarrinho {
    background-color: #F5C661;
    border: none;
    width: 40px;
    height: 37px;
    margin-right: 0.698rem;
    margin-bottom: 0.823rem;
    /* background-image: url(../assets/carroMais.png); */
}

#botaoAddCarrinho:hover {
    background-color: #f3b01e;
}

.centralizaMeio {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

#botaoAmareloNoMeio {
    position: relative;
    width: 14.688rem;
    height: 2.563rem;
    background: #F5C661;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    text-decoration: none;
    color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: none;
}

#botaoAmareloNoMeio:hover {
    background-color: #f3b01e;
}
/* BAIXO DO HOME */

#dadosHome {
    height: 576px;
    background-color: #7A247D;
    /* display:flex; */
    /* justify-content: space-around; */
    flex-wrap: wrap;
}

#tituloBaixoHome {
    font-family: 'Bellota Text', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 40px;
    color: #FAFAFA;
    text-align: center;
    align-items: center;
    padding-top: 2.188rem;
}

#mapaComInfoHome {
    margin-left: 11.375rem;
    margin-top: 8rem;
}

#mapa {
    margin-bottom: 1.563rem;
}

#colherEFaca {
    margin-bottom: 1.313rem;
    margin-right: 0.759rem;
}

#telefoninho {
    margin-right: 0.829rem;
}

.textoBaixoHome {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.tentaFlex {
    display: flex;
    justify-content: space-between;
}
/* SLIDES!! */

.slider3 input {
    display: none;
}

.slider3 {
    display: block;
    height: 393px;
    width: 900px;
    /* margin:auto; */
    /* margin-bottom: 10em; */
    position: relative;
    /* padding: 1.4em; */
    margin-top: 4.5rem;
}

.slider3 li {
    list-style: none;
    position: absolute;
}

.slider3 img {
    margin: auto;
    height: 356px;
    width: 600px;
    vertical-align: top;
}

.slider3 label {
    background-color: #FAFAFA;
    bottom: 25px;
    border-radius: 50%;
    cursor: pointer;
    display: block;
    height: 15px;
    position: absolute;
    width: 15px;
    z-index: 10;
}

.slider3 li:nth-child(1) label {
    left: 280px;
}

.slider3 li:nth-child(2) label {
    left: 300px;
}

.slider3 li:nth-child(3) label {
    left: 320px;
}

.slider3 img {
    opacity: 0;
    visibility: hidden;
}

.slider3 li input:checked~img {
    opacity: 1;
    visibility: visible;
    transition: all .15s;
    /* z-index: 10; */
}

.slider3 li input:checked~label {
    transition: all .275s;
    background-color: black;
}