/*
Theme Name: Pojeto Final
Author: João Pedro J. Rabello
Description: Projeto final do treinamento da IN
Version: 1
*/

@import 'css/reset.css';
@import 'css/home.css';
@import 'css/single-product.css';

@import url('https://fonts.googleapis.com/css2?family=Bellota+Text:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comic+Neue:wght@700&display=swap');


                        /*HEADER*/
header{
    position:sticky;
    top:0;
    height:4.813rem;
    background-color: #7A247D;
    
    display:flex;
    justify-content: space-around;

    z-index: 11;
}
.headerNav{
    z-index: 12;
}
.alinhaRow{
    display:flex;
    flex-direction: row;
    align-items: center;
}
#logoInicio{
    margin-right: 48px;
}
.pesquisaHeader{
    background-color:#7A247D;
    border:solid;
    border-color: #F5C661;
    border-top: none;
    border-left: none;
    border-right: none;
}
#lupaHeader{
    background-color:#7A247D;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;
}
#dentroLupaHeader{
    height:18.71px;
    width: 18.71px;
    margin-right:10px;
}
.busca{
    background-color:#7A247D;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;

    font-family: 'Bellota Text', cursive;
    font-weight: 300;
    font-size: 18px;
    color:#F5C661;

    width:390px;
}
input[type="text"]:focus {
    outline:none; 
}
#facaPedido{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 20px;
    background-color:#F5C661;

    width:182px;
    height:41px;

    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: none;

    margin-right: 25px;

    display: flex;
    justify-content: space-around;
    align-items: center;

    text-decoration: none;

    color: #000000;
}
#carrinhoHeader{
    margin-right: 28.5px;
}
            /*MENU LATERAL*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 100000000; 
    top: 0;
    right: 0;
    background-color: #F5C661; 
    overflow-x: hidden; 
    transition: 0.5s;
    padding-top: 60px;
}
.sidenav a {
    padding: 8px 8px 8px 70px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.sidenav a:hover {
    color: #f1f1f1;
}
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    margin-top: 30px;
}
#box-produt-cart{
    border-top: 1px solid #7a247d;
    border-bottom: 1px solid #7a247d;
    display:flex;
    justify-content: center;
    margin-left: 40px;
    margin-right: 40px;
    padding-top: 37px;
    padding-bottom: 68px;

}
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
#palavraCarrinho{
    font-family: 'Bellota Text', cursive;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 40px;

    color: #6A066D;

    margin-left: 2.438rem;
    margin-bottom: 0.469rem;
}
#box-produt-cart{
    display:flex;
    flex-direction:column;
    border-bottom: 0;
}
#itensCarrinho{
    height: 100px;
    margin-left: 2.563rem;
    margin-top: 2.367rem;
    margin-right: 2.563rem;

    object-fit: contain;

    display:flex;
    flex-direction:row;

    overflow: hidden;

    background: #D7F6FD;
}
#imagemBonitaCarrinho > img{
    object-fit: contain;
    height:100px;
    width:100px;

}

.produto-info{
    background: #D7F6FD;

    font-family: 'Bellota Text', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;

    color: #000000;
}
#precoCarrinho{
    font-family: 'Bellota Text', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 23px;
    
    color: #000000;
    
    padding-top:1.484rem;
    border-top: 1px solid #6A066D;
    margin-top: 4.262rem;
    margin-left: 2.563rem;
    padding-bottom: 0.701rem;
}
#botcomprar{
    width: 245px;
    height: 41px;
    padding-left: 0;

    display:flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 142px;
    margin-bottom: 70px;

    background: rgba(126, 52, 129, 0.86279);

    font-family: 'Bellota Text', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    
    color: #FFFFFF;
}
#breu{
    z-index: 20;
    position: fixed;
    width:0;
    height: 100%;

    background-color: rgba(0,0,0,0.4);
}

                        /*BODY*/


body{
    background-color: rgb(231,250,254);
}

.apenasFlex{
    display:flex;
}


                        /*FOOTER*/


footer{
    position:relative;
    bottom: 0;
    width:100%;
    height:1.25rem;

    display:flex;
    justify-content: space-around;
    align-items: center;
    
    background-color:#F5C661;

    font-family: 'Bellota Text', cursive;
    font-weight: 700;
}
